.crosswordSection {
  background: #fadfda;
  padding-bottom: 50px;
}

.crosswordTitle {
  font-family: 'Ramaraja', serif;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: .5px;
  margin-bottom: 20px;  
}

.crosswordText {
  font-family: 'Raleway' 'sans-serif';
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
  display: block;
  line-height: 1.8em;
  margin-bottom: 20px;
}

.hintContainer {
  margin-bottom: 40px;
}

.crosswordHintText {
  border-bottom: 1px solid #a08061;
  width: max-content;
  color: #a08061;
  cursor: pointer;
  margin-bottom: 10px;
}

.hint {
  color: #a08061;
}

.hint span {
  font-style: italic;
  border-bottom: 1px solid #a08061;
}

.crosswordText span {
  font-weight: 500;
}

.submit, .successBtn {
  background: #111;
  color: #FFF;
  font-family: 'Raleway' 'sans-serif';
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;

  margin-left: 0;
  width: 100%;
}

.successBtn {
  text-align: left;
  padding: 20px 30px;
}

.password {
  font-family: 'Raleway' 'sans-serif';
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 20px 15px; 
  border: .5px solid #111;
  width: 100%;
}

.errorMessage {
  font-family: 'Raleway' 'sans-serif';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: red;  
}

.submitSuccess {
  width: 100%;
  margin-bottom: 20px;
}

.submitSuccessMessage {
  font-family: 'Ramaraja', serif;
  font-weight: 500;
  letter-spacing: .5px;
  font-size: 50px;
  margin-top: 40px; 
  margin-bottom: 30px;
  line-height: 1.2; 
}

.secret {
  text-decoration: underline;
}

.crosswordFormDisplayNone {
  display: none;
}

/* exclusively for iPhone5 */
@media (max-width: 340px) {

  .submit, .successBtn {
    margin-left: 0;
    width: 100%
  }

  .crosswordText, 
  .submit, 
  .password,
  .successBtn,
  .errorMessage {
    font-size: 10px;
  }
}

@media (min-width: 500px) {
  .password, .successBtn {
    width: 250px;
  }

  .submit {
    width: auto;
    min-width: 150px;
    margin-left: 20px;
  }

  .errorMessage {
    margin-bottom: -10px;
  }
}

@media (min-width: 800px) {
  .crosswordText, 
  .submit,
  .successBtn, 
  .password {
    font-size: 17px;
  }
}