.header-wrapper {
  display: flex;
  justify-content: center;
  background: transparent;

  position: absolute;
  z-index: 1;
  width: 100%;
}

.header {
  max-width: 1250px;
  height: 100px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .header {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 1250px) {
  .header {
    padding: 0 50px 0 50px;
  }
}

.header-link {
  color: #482d4a;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.25em;
}