.hero-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {
  .hero-section {
    height: 100%; 
  }
}

.hero-title-wrapper {
  position: absolute;

  max-width: 1250px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-title {
  line-height: 1em;
  font-family: 'Cormorant Garamond', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  color: #482d4a;
  display: block;
  text-align: left;
  font-size: 6em;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: -100px;
}

@media (min-width: 500px) {
  .hero-title {
    //font-size: 6em;
    //margin-top: 0;
  }

}

@media (min-width: 800px) {
  .hero-title {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 8em;
  }
}

@media (min-width: 1250px) {
  .hero-title {
    padding: 0 40px 0 40px;
  }
}