.navigationMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navigationMenu a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 5.5px;
  cursor: pointer;
  border: 1px solid transparent;
  cursor: pointer;
}

.navigationMenu a:first-child {
  padding-left: 0;
}

.navigationMenu a:last-child {
  padding-right: 0;
}

/* exclusively for small phones */
@media (max-width: 360px) {
  .navigationMenu a {
    font-size: 10px;
  }
}

@media (min-width: 500px) {
  .navigationMenu a {
    padding: 14px;
  }
}

@media (min-width: 800px) {
  .navigationMenu {
    display: flex;
  }

  .navigationMenu a {
    font-size: 17px;
    padding: 18px;
  }

  .navigationMenu a:first-child {
    padding-left: 18px;
  }

  .navigationMenu a:last-child {
    padding-right: 18px;
  }

  .navigationMenu a:hover {
    border: 1px solid #111;
    cursor: pointer;
  }
}