.ourStorySection {
  background: #f1f1f1;
  padding-bottom: 50px;
}

.ourStoryTitle {
  font-family: 'Ramaraja', serif;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: .5px;
  margin-bottom: 20px;  
}

.ourStoryText {
  font-family: 'Raleway' 'sans-serif';
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
  display: block;
  line-height: 1.8em;
  margin-bottom: 20px;
}

/* exclusively for iPhone5 */
@media (max-width: 340px) {
  .ourStoryText {
    font-size: 10px;
  }
}

@media (min-width: 800px) {
  .ourStoryText {
    font-size: 17px;
  }
}