@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: pink;
}

.section {
  max-width: 1250px;
  height: 100%;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}


@media (min-width: 800px) {
  .section {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 1250px) {
  .section {
    padding: 0 50px 0 50px;
  }
}

.bio {
  background: #fadfda;
  width: 100%;
  height: 500px;

}

@import "../components/Header.css";
@import "../components/HeroSection.css";
@import "../components/HeroImage.css";